h1 {

}

h3 {
  font-size: : large;
  margin-bottom: -100px;


}
#join{
  margin-left: 1.5%;
}

.Registration{
  margin-left: 1.5%;
  margin: bottom: 50%;
}
map {
position: relative;
align-self:  auto;
}
#reg {
  margin-left: 1.5%;

}
.btn  {
  margin-left: 1.5% ;

}


#stars{
   font-size: 3vw;
}

#myheader {
  margin-left: 1%;
   font-size: 3vw;

}

#food {
font-size: 550%;
text-align: center;
border-style: double;
position: relative;
top: -470px;
 }






  table, th, td {
  border: 1px solid;
  border-color: black;
  padding: 0.8%;
 text-align: left;

}
th {
  background-color:  #50C878

;
  color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}


table {
table-layout: auto;
width: 100%;
position: relative;
top: -470px;
  height: auto;



}



#img1 {
  margin-left: 50%;
  margin-top: -32%;
  width: 47%;
  height: auto;
}

.row {
  background-color: yellow;
  position: relative;
  top: -470px;
  height: auto;
  width: 100%;


}

 #map1 {
   margin-bottom: 70%;
   margin-top: 150%;
   position: relative;
   top: -500px;
 }

 .navbar {
   top: -150px;
   left: 50%;
   height: auto;
   width: 100%;



 }

 .nav-link {
   color: black;
 }

 .navbar-brand {
   color: black;
 }


 .navbar {
   width: 80px
     height: 100px;
}
.navbar-custom {
  height: 100px;
}
      .navbar-nav {
       width: 80px
         height: 100px;
     }



 #rules {
   border-width:3px;
   font-size: 30px;
 border-style:dashed;
 border-color:yellow;
 width: 500px;
 margin-left: 18%;
 position: relative;
 top: -787px;
 width: 20%;
 height: auto;
 padding-left: 1.5%;

}
.jumbotron {
  position: relative;
  top: -500px;
}

.nav-link {
  text-decoration-color: black;
}


.pagination{
  margin-left: 40%;
  height: auto;
  width: 100%;
}
